<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Api
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/img/Logo-Dito-Principal.png" alt="" />
      <ion-card-header>
        <ion-card-title>Aplicativo da api</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p>Este aplicativo é de uso exclusivo da api de node+mongo+docker. <br/> <a href="https://github.com/DekoAlencar/Node-Mongo-Docker">Conferir o codigo</a></p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="inset">
      <ion-list-header>
        <ion-label>Funções</ion-label>
      </ion-list-header>
      <ion-item (click)="search()">
        <ion-icon slot="start" color="medium" name="search"></ion-icon>
        <ion-label>Pesquisar Eventos</ion-label>
        <ion-icon slot="end" color="medium" name="arrow-dropright"></ion-icon>
      </ion-item>
      <ion-item (click)="timeline()">
        <ion-icon slot="start" color="medium" name="list"></ion-icon>
        <ion-label>Timeline Shopp</ion-label>
        <ion-icon slot="end" color="medium" name="arrow-dropright"></ion-icon>
      </ion-item>
    </ion-list>
</ion-content>
